<table class="main">
  <tr>
    <td class="coordinates-container">
      <div id="canvasContainer">
        <canvas #coordinates  id="coordinates" width="300px" height="300px"></canvas>
        <canvas #region id="region" width="300px" height="300px"></canvas>
        <canvas #dots (click)="createRequestByClick($event)" id="dots" width="300px" height="300px"></canvas>
      </div>
    </td>
  </tr>
  <tr><br><br></tr>
  <tr>
    <td class="form-container">
      <form [formGroup]="requestForm" (ngSubmit)="onCreateRequest()" class="request-form">
        <table class="dataform">
          <tr>
            <td class="td-form">
              <div class="x-field">
                <label for="x">Введите значение X: </label>
                <input id="x" type="number" formControlName="x" class="text-input" placeholder="-3...3" max="3" min="-3"/>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td-form">
              <div class="y-field">
                <label for="y">Введите значение Y: </label>
                <input id="y" type="number" formControlName="y" class="text-input" placeholder="-5...5"  max="5" min="-5"/>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td-form">
              <div class="r-field">
                <label for="r">Введите значение R: </label>
                <input id="r" type="number" formControlName="r" class="text-input" placeholder="-3...3"  max="3" min="-3"/>
              </div>
            </td>
          </tr>
          <tr>
            <td class="td-form">
              <button type="submit" [disabled]="!requestForm.valid" class="main-button">Отправить</button>
            </td>
          </tr>
        </table>
      </form>
      <div class="form-errors">
        <div *ngIf="errorMessages" class="error">{{ errorMessages }}</div>
      </div>
      <div id="ajax-result"></div>
    </td>
  </tr>
  <tr>

    <td id="result-container">
      <mat-table [dataSource]="requestsHistoryData" class="mat-elevation-z8">
        <ng-container matColumnDef="x">
          <mat-header-cell *matHeaderCellDef> X </mat-header-cell>
          <mat-cell *matCellDef="let element" class="mat-col-x"> {{element.x | number:'1.5-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="y">
          <mat-header-cell *matHeaderCellDef> Y </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.y | number:'1.5-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="r">
          <mat-header-cell *matHeaderCellDef> R </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.r | number:'1.5-5'}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="result">
          <mat-header-cell *matHeaderCellDef> Hit </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.result}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="person">
          <mat-header-cell *matHeaderCellDef> User </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.user.username}} </mat-cell>
        </ng-container>
<!--        <ng-container matColumnDef="executionTime">-->
<!--          <mat-header-cell *matHeaderCellDef> Время выполнения </mat-header-cell>-->
<!--          <mat-cell *matCellDef="let element"> {{element.executionTime | number}} </mat-cell>-->
<!--        </ng-container>-->
        <ng-container matColumnDef="timestamp">
          <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.time | date:'dd.MM.yyyy HH:mm'}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="requestFields"></mat-header-row>
        <mat-row *matRowDef="let row; columns: requestFields;"></mat-row>
      </mat-table>
      <button (click)="clearRequestsHistory()" class="main-button clear-button">Очистить таблицу</button>
    </td>
  </tr>
  <tr>
    <td class="footer">
      <form method="GET" action="/auth/logout">
        <input type="submit" class="main-button" value="Выйти"/>
      </form>
    </td>
  </tr>
</table>

